@* @using VMRent.Managers *@
@* @model Application.WebApp.ViewModels.DetailUserViewModel *@
@* *@
@* <div class="container mt-2"> *@
@*     <h2>Reservations</h2> *@
@*     <table class="table table-hover"> *@
@*         <thead> *@
@*         <th>Vm</th> *@
@*         <th>Start time</th> *@
@*         <th>End time</th> *@
@*         <th></th> *@
@*         </thead> *@
@*         <tbody> *@
@*         @if (Model.UserVms != null) *@
@*         { *@
@*             foreach (var userVm in Model.UserVms) *@
@*             { *@
@*                 if (DateTime.UtcNow > userVm.EndTime) *@
@*                 { *@
@*                     continue; *@
@*                 } *@
@*                 <tr> *@
@*                     <td>@userVm.Vm?.Name</td> *@
@*                     <td>@userVm.StartTime</td> *@
@*                     <td>@userVm.EndTime</td> *@
@* *@
@*                     <td> *@
@*                         @Html.ActionLink("Cancel", "CancelReservation", "Reservation", new {id = userVm.Id}) *@
@*                     </td> *@
@*                 </tr> *@
@*             } *@
@*         } *@
@*         </tbody> *@
@*     </table> *@
@* </div> *@