@* @model Application.WebApp.ViewModels.EditUserViewModel *@
@* *@
@* @{ *@
@*     ViewBag.Title = "Edit user"; *@
@* } *@
@* *@
@* <form asp-action="Edit" asp-controller="User" method="post" class="container-fluid mt-3 p-1 w-50"> *@
@*      *@
@*     <input asp-for="UserId" type="hidden" value="@Model.UserId"> *@
@* *@
@*     <div class="form-group"> *@
@*         <label asp-for="UserName" class="col-sm-2 col-form-label"></label> *@
@*         <div class="col-sm-8"> *@
@*             <input asp-for="UserName" class="form-control"/> *@
@*             <span asp-validation-for="UserName" class="text-danger"></span> *@
@*         </div> *@
@*     </div> *@
@* *@
@*     <div class="form-group"> *@
@*         <label asp-for="Email" class="col-sm-2 col-form-label"></label> *@
@*         <div class="col-sm-8"> *@
@*             <input asp-for="Email" class="form-control"/> *@
@*             <span asp-validation-for="Email" class="text-danger"></span> *@
@*         </div> *@
@*     </div> *@
@* *@
@*     <div class="form-group"> *@
@*         <label asp-for="PhoneNumber" class="col-sm-2 col-form-label"></label> *@
@*         <div class="col-sm-8"> *@
@*             <input asp-for="PhoneNumber" class="form-control"/> *@
@*             <span asp-validation-for="PhoneNumber" class="text-danger"></span> *@
@*         </div> *@
@*     </div> *@
@*      *@
@*     <div class="form-group"> *@
@*         <div class="checkbox"> *@
@*             <label asp-for="IsActive"> *@
@*                 <input asp-for="IsActive"> *@
@*                 Active *@
@*             </label> *@
@*         </div> *@
@*     </div> *@
@* *@
@*     <div asp-validation-summary="All" class="text-danger"></div> *@
@* *@
@*     <div class="form-group"> *@
@*         <div class="col-sm-2"></div> *@
@*         <div class="col-sm-8"> *@
@*             <button type="submit" class="btn btn-primary">Update</button> *@
@*         </div> *@
@*     </div> *@
@* *@
@* </form>  *@