@model Application.WebApp.ViewModels.DetailVmViewModel

@{
    ViewBag.Title = "Vm details";
}

<div class="container mt-2">
    <h2>Reservations</h2>
    <table class="table table-hover">
        <thead>
            <th>User</th>
            <th>Start time</th>
            <th>End time</th>
        </thead>
        <tbody>
        @foreach (var userVm in Model.UserVms)
        {
            if (DateTime.UtcNow > userVm.EndTime)
            {
                continue;
            }
            <tr>
                <td>@userVm.User.Username</td>
                <td>@userVm.StartTime</td>
                <td>@userVm.EndTime</td>
            </tr>
        }
        </tbody>
    </table>
</div>